.hforgif {
    width: 80%;
    height: 90vh;
    margin-top: 8%;
    margin-bottom: 5%;
    align-items: left;
    margin-left: 2.5%;
    border-radius: 50%;
}

   
.hnot-found{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding-left: 0px;
    margin-left: 0px;
    left: 0px; */
}

.harrow {
    margin-top: 8%;
    height: 54vw;
    width: 120vh;
    align-items: right;
    margin-left: 80px;
}

.hbutton {
    margin-top: 6.2%;
}

body {
    background-image: 'https://wallpaperaccess.com/full/1546081.jpg';
    min-height: 100vh;
    overflow-x: hidden
}