body {
    /* background-color: #ffaa00; */
    background-image: url("https://c4.wallpaperflare.com/wallpaper/898/772/63/deer-firewatch-sunset-wallpaper-preview.jpg");
    background-attachment: fixed;
    background-size: cover;
}